			<html>
				<head>
					<title>チャット</title>
				</head>
				<body>
					<ul id="messages"></ul>
					WebSocketを使ったチャットアプリケーション(from template)
					<form id="chatbox">
						<textarea></textarea>
						<input type="submit" value="送信" />
					</form>
					<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
					</script>
					<script>
						$(function(){
							var socket = null;
							var msgBox = $("#chatbox textarea");
						});
						var messages = $("#messages");
						$("#chatbox").submit(function(){
							if(!msgBox.val()) return false;
							if(!socket){
								alert("Error!");
								return false;
							}
							socket.send(msgBox.val());
							msgBox.val("");
							return false;
						});
						if(!window["WebnSocket"]){
							alert("Error2!");
						} else {
							socket = new WebSocket("ws://localhost:8080/room");
							socket.onclose = function(){
								alert("conn fin");
							}
							socket.onmessage = function(){
								messages.append($("<li>").text(e.data));
							}
						}
					</script>
				</body>
			</html>

